---
name: Versioning

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  calculateVersion:
    name: Calculate Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      current: ${{ steps.version.outputs.current }}
      skip: ${{ steps.version.outputs.skip }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install svu
        uses: ./

      - name: Calculate next version
        id: version
        run: |
          CURRENT=$(svu current || echo "v0.0.0")
          NEXT=$(svu next)

          echo "Current: $CURRENT"
          echo "Next: $NEXT"
          echo "current=$CURRENT" >> "$GITHUB_OUTPUT"
          echo "version=$NEXT" >> "$GITHUB_OUTPUT"

  tag:
    name: Create Tag and Release
    runs-on: ubuntu-latest
    needs: calculateVersion
    if: needs.calculateVersion.outputs.skip != 'true'
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create Tag and Release
        id: release
        uses: freerangebytes/auto-tag-and-release@v0.2.1
        with:
          version: ${{ needs.calculateVersion.outputs.version }}
          previous-version: ${{ needs.calculateVersion.outputs.current }}
